<%- include("../partials/header")%>
<div class="container">
    
<div class="card" >
  <div class="card-body">
    <h3 class="card-title"><%= q.title %></h3>
    <hr>
    <p class="card-text"><%= q.description %></p>
    
  </div>
</div>
<h1 style="text-align:center">Post a New Answer</h1>

    <div style="width:50%;margin:35px auto;">
<form method="POST" action="/qanda/ans/<%= q._id%>" class="form-group" class="form-control">
   
    
    <div class="form-group">
    <textarea name="answer" placeholder="Answer" class="form-control" rows="5"></textarea>
    </div>
    <button class="btn btn-primary btn-lg btn-block" style="margin-top:10px">POST</button>
   <a href="/qanda">Go Back</a>
    
</form>
</div>
</div>
<%- include("../partials/footer")%>